.photo-grid {
  display: grid;
  grid-template-columns: repeat(4,284px);
  grid-template-rows: repeat(3,213px);
  gap: 16px;
  margin: 0 48px 92px;
  justify-content: center;
}
  
@media screen and (max-width: 1230px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill,300px); /*3*/
    grid-template-rows: repeat(auto-fill,225px); /*4*/
    gap: 14px;
  }
}
  
@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2,352px);
    grid-template-rows: repeat(6,264px);
    gap: 16px;
    margin: 0 24px 88px;
  }
}
  
@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1,288px);
    grid-template-rows: repeat(12,216px);
    row-gap: 12px;
    margin: 0 16px 64px;
  }
}