.place__image {
    grid-area: place__image;
    max-width: 460px;
    max-height: 460px;
    margin: 0;
    padding: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .place__image {
      max-width: 440px;
      max-height: 440px;
    }
  }
  
  @media screen and (max-width: 830px) { /*769*/
    .place__image {
      max-width: 340px;
      max-height: 340px;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 390px) { /*320*/
    .place__image {
      max-width: 320px;
      max-height: 320px;
      margin: 0 auto;
    }
  }