.cover__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 0;
    padding: 0;
    z-index: 2;
    max-width: 360px;
  }
  
  @media screen and (max-width: 760px) {
    .cover__subtitle {
      max-width: 340px;
      font-size: 16px;
      line-height: 18px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .cover__subtitle {
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  @media screen and (max-width: 320px) {
    .cover__subtitle {
      margin-top: 16px;
    }
  }