.cover {
    max-width: 1184px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
  }
  
  @media screen and (max-width: 1024px) {
    .cover {
      max-width: 100%;
      margin: 0;
    }
  }